### https://raw.github.com/github/gitignore/7acb3d6cdcba4a5d7ecba0668a0016df5e6c01f3/Global/emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*
history
.DS_Store
.cask/
el-get/
inits/el-get/
inits/idlwave/
inits/undohist/
inits/projectile*
inits/games/
tutorial/
ac-*
/var/
frame-restore-parameters

cache/
undohist/
.session
.mc-lists.el
auto-save-list/
.tramp
.recentf
eshell/
projectile-bookmarks.eld

# Org-mode
.org-id-locations
*_archive

# local files
99*

# flymake-mode
*_flymake.*

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

TAGS
inits/url/