### https://raw.github.com/github/gitignore/7acb3d6cdcba4a5d7ecba0668a0016df5e6c01f3/Global/emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list/
tramp
.\#*
history
.DS_Store
.cask/
.session
el-get/
inits/el-get/
inits/idlwave/
inits/undohist/
inits/projectile*
ac-*

undohist/
/var/
frame-restore-parameters
.mc-lists.el
tutorial/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

TAGS
inits/url/
projectile-bookmarks.eld
/url/